<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SDNApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <SDNApp.Properties.Settings>
            <setting name="user_login_file" serializeAs="String">
                <value>app_data\user_login.json</value>
            </setting>
            <setting name="auth_token_file" serializeAs="String">
                <value>app_data\auth_token</value>
            </setting>
        </SDNApp.Properties.Settings>
    </userSettings>
</configuration>